<form ng-hide="teamCtrl.team.length >= 6">
  <input type="text" placeholder="Character" ng-model="characterCtrl.newCharacter"/>
  <input type="submit" value="Add Character" ng-click="teamCtrl.addCharacter" />
</form>

<h1>Your Team ({{ teamCtrl.team.length }}/6)</h1>

<table>
  <tbody>
    <tr ng-repeat="character in teamCtrl.team">
      <td>{{ character.name }}</td>
      <td>
        <img ng-src="{{ pokemon.sprites.front_shiny }}" alt="" />
      </td>
      <td>
        <i class="fa fa-times" ng-click="teamCtrl.deleteCharacter"></i>
      </td>
    </tr>
  </tbody>
</table>
