
  <h1>Add Characters ({{ teamCtrl.characters.length }}/6)</h1>

  <form ng-hide="teamCtrl.characters.length >= 6">
    <input type="text" placeholder="teams" ng-model"teamCtrl.name">
    <input type="submit" value="Add" ng-click="teamCtrl.addCharacter()">
  </form>

  <h1>Characters</h1>

  <table>
    <tbody>
      <tr ng-repeat="character in teamCtrl.characters">
        <td id="charcter-img">
          <img class="image" ng-src="{{ character.image }}">
        </td>
        <td id="character-name">
          {{ character.name }}
        </td>

        <td id="character-description">
          {{ charcter.description }}
        </td>


        <td id="delete-character">
          <i class=" fa fa-times-circle" ng-click="teamCtrl.deleteCharacter(character)"></i>
        </td>

      </tr>
    </tbody>
  </table>
